Temp/UnityLockfile
Library/shadercompiler-UnityShaderCompiler.exe0.log
.vs/TempGame/v15/Server/sqlite3/storage.ide-wal
.vs/TempGame/v15/Server/sqlite3/storage.ide-shm
.vs/TempGame/v15/Server/sqlite3/storage.ide
.vs/TempGame/v15/Server/sqlite3/db.lock
